
  <!-- warning line
      ================================================== -->


<div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12">
            <h1>Resources</h1>
            <p class="lead">Pick recommended links below for professional template, or just <a href="https://www.google.com/#q=sample+letters">Google </a>them. Copy and paste the letter you like in the the blank document provided below.</p>



          </div>
          <div class="col-lg-6">
            
          </div>
        </div>
      </div>

    

            <!-- List Categories
      ================================================== -->
 
    
       
          <!-- warning end
      ================================================== -->



<div class="row">
          <div class="col-lg-4">
            <div class="bs-example">
              <div class="list-group">
                <div class="panel panel-primary">
              <div class="panel-heading">Click Below for:</div>
                 <a href="blank.html" class="list-group-item" target="_blank">Blank Document</a>
              </div>      </div>   </div>
            </div>

          <div class="col-lg-8">
            <div class="bs-example">
              <p>
                <a href="http://jobsearch.about.com/od/JobApplicationLetter/a/job-application-letters.htm" target="_blank"><button type="button" class="btn btn-default" >Application Letters</button></a>
                 <a href="http://jobsearch.about.com/od/coverletters/a/cover-letters-a-z.htm" target="_blank"><button type="button" class="btn btn-primary">Cover Letters</button></a>
                <a href="http://jobsearch.about.com/od/followupletters/Follow_Up_Letters.htm" target="_blank"><button type="button" class="btn btn-success">Folow Up Letters</button></a>
                 <a href="http://jobsearch.about.com/od/jobapplicationletters/Job_Application_Letters.htm" target="_blank"><button type="button" class="btn btn-info">Job Application Letters</button></p>
                <a href="http://jobsearch.about.com/od/referencesrecommendations/a/personal-recommendation-letters.htm" target="_blank"><button type="button" class="btn btn-warning">Personal Recommendation Letters</button>
                <a href="http://jobsearch.about.com/od/employmentrecommendation/a/letters-of-recommendation.htm" target="_blank"><button type="button" class="btn btn-danger">Recommendation Letters for Employment</button>
              </p>
              </div>
             </div>      </div>  </div>


        