</div>
     </div>
     
<div id="myCarousel" class="carousel">
      <div class="carousel-inner">
        <div class="item active">
<%= image_tag("banner.jpg") %>
          
            </div>
          </div>
        </div>
      </div>
      
    </div><!-- /.carousel -->


<div class="container">
</div></div></div>
  <!-- warning line
      ================================================== -->


<div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-12">
            <h1>In-Browser Editing</h1>
            <p class="lead">Pick a sample letter, edit and print it. No software download, no signup, absolutely free!</p>



          </div>
          <div class="col-lg-6">
            
          </div>
        </div>
      </div>

    

            <!-- List Categories
      ================================================== -->
 
        <div class="row">
          <div class="col-lg-4">
            <div class="bs-example">
              <div class="list-group">
                <div class="panel panel-primary">
              <div class="panel-heading">Employment Related</div>
                <a href="page.html" class="list-group-item" target="_blank">Employer Reference Letter</a>
                <a href="#" class="list-group-item">Resume Sample </a>
                <a href="#" class="list-group-item">Job Inquiry Letter</a>
              </div>      </div>   </div>
            </div>

          <div class="col-lg-4">
            <div class="bs-example">
              <div class="list-group">
                <div class="panel panel-primary">
              <div class="panel-heading">General</div>
              <a href="#" class="list-group-item">Authorisation to Collect Mail (on your behalf)</a>
              <a href="#" class="list-group-item">IOU (I Owe You) Letter </a>
              <a href="#" class="list-group-item">NOTICE (Change to whatever you like)</a>

              </div>
             </div>      </div>  </div>


          <div class="col-lg-4">
            <div class="bs-example">
              <div class="list-group">
                <div class="panel panel-primary">
              <div class="panel-heading">Housing Related</div>
                <a href="#" class="list-group-item">Landlord Reference Letter</a>
                <a href="#" class="list-group-item">Basic Rental Agreement or Residential Lease</a>
                <a href="#" class="list-group-item">Apartment/Room for Rent Ad</a>
              </div>
            </div>
          </div>          </div>   </div>
       

    
        <!-- warning line
      ================================================== -->

      <div class="container">
         <div class="row">
          <div class="col-lg-12">
            <div class="bs-example">
              <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Warning!</h4>
                <p>THE WEBSITE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. WE DO NOT ENDORSE AND ARE NOT RESPONSIBLE FOR THE ACCURACY OR RELIABILITY OF ANY SAMPLE LETTERS, ADVICE OR STATEMENT ON THE WEBSITE. The information provided are no substitute for professional advice.</p>
              </div>
            </div>
          </div>
        </div>
          <!-- warning end
      ================================================== -->



<div class="row">
          <div class="col-lg-4">
            <div class="bs-example">
              <div class="list-group">
                <div class="panel panel-primary">
              <div class="panel-heading">Certificates</div>
                <a href="page.html" class="list-group-item">Certificate of Translation</a>
              </div>      </div>   </div>
            </div>

          <div class="col-lg-4">
            <div class="bs-example">
              <div class="list-group">
                <div class="panel panel-primary">
              <div class="panel-heading">Affidavits</div>
              <a href="#" class="list-group-item">General Affidavit</a>
          

              </div>
             </div>      </div>  </div>


          <div class="col-lg-4">
            <div class="bs-example">
              <div class="list-group">
                <div class="panel panel-primary">
              <div class="panel-heading">Lost Pet Ad</div>
                <a href="#" class="list-group-item">Lost Pet (you can upload images)</a>
              </div>
            </div>
          </div>          </div>   </div>
       

