<footer>
        <div class="row">
          <div class="col-lg-12">
            
            
            <p>Made by <a href="https://github.com/vajradog/">Vajradog</a>.</p>
            <p>Code licensed under the <a href="https://github.com/vajradog/TypistMonk/blob/master/license.txt">The MIT License</a>.</p>
           

          </div>
        </div>
        
      </footer>